<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <form #addUserForm="ngForm">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <h1 class="remove-margin">
          Book Room</h1>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.dm.bookingdm.roomNum" name="roomNum" type="number" placeholder="Room Number" [required]="false">

        </mat-form-field>
        <mat-form-field [appearance]="&apos;legacy&apos;">
          <input matInput placeholder="Date" [matDatepicker]="picker" [(ngModel)]="page.dm.bookingdm.date" name="date" [required]="false" [disabled]="false">
          <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>

        </mat-form-field>
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.dm.bookingdm.time" name="time" type="time" placeholder="Time" [required]="false">

        </mat-form-field>
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end stretch" [fxShow]="true"><button mat-raised-button color="accent" (click)="addUserForm.reset()">Reset</button><button mat-raised-button [mat-dialog-close]="addUserForm.value" color="primary">Book</button><button mat-raised-button mat-dialog-close color="warn">Cancel Booking</button></div>
      </div>
    </form>
  </div>
</div>