<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-sidenav-container class="full-height full-width side-nav-containerbg white-bg">
      <div fxLayout="row wrap" style="background:  #c9daee;" class="height-vh9" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" class="white-color cursor" fxLayoutAlign="start stretch" [fxShow]="true" (click)="sidenav.toggle();page.sideNavOpen = true;" *ngIf="!page.sideNavOpen;">
                <mat-icon>chevron_right</mat-icon>
                <mat-icon style="position: relative;  right: 17px;">chevron_right</mat-icon>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" class="cursor" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="dark-blue-bg toolbar-first-style xlarge-text font-weight600">
                  {{page.loggedInUser.firstName.charAt(0).toUpperCase()}}
                </div>
                <div fxLayout="row wrap" class="cursor" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                  <div class="font-weight600">
                    {{page.loggedInUser.firstName.toUpperCase()}}
                  </div>
                  <mat-icon class="font-weight600" (click)="logout()">power_settings_new</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #sidenav class="side-nav-width21" [mode]="&apos;side&apos;" [position]="&apos;start&apos;" [opened]="true" disableClose="true">
        <div fxLayout="column wrap" style="margin-bottom: 12px;" class="sideNav-tool-bar" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap="13px" fxLayoutAlign="start center" [fxShow]="true">
            <div class="darkBlue-color margin-top8 font-weight600 xlarge-text">
              {{page.loggedInUser.firstName.toUpperCase()}} {{page.loggedInUser.lastName.toUpperCase()}}
            </div>
            <div fxLayout="row wrap" class="darkBlue-color cursor" fxLayoutGap="7px" fxLayoutAlign="start stretch" [fxShow]="true" (click)="sidenav.toggle();page.sideNavOpen = false;" *ngIf="page.sideNavOpen">
              <mat-icon style="right: 12px;  top: 16px;" class="position-absolute">chevron_left</mat-icon>
              <mat-icon style="right: 12px;  top: 16px;" class="position-absolute">chevron_left</mat-icon>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="95" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutGap="6px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="font-size72 text-align white-color border-radius50 side-nav-profileSizing dark-blue-bg font-weight600">
                  {{page.loggedInUser.firstName.charAt(0).toUpperCase()}}
                </div>
                <div class="blue-color font-weight600">
                  {{page.loggedInUser.email}}
                </div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.sidenavItems">
                <div fxLayout="row wrap" class="side-nav cursor side-nav-items darkBlue-color" fxLayoutAlign="start center" [fxShow]="true" (click)="navigateTo(item.url)" routerLinkActive="active-route" *ngIf="item.show">
                  <mat-icon>{{item.icon}}</mat-icon>
                  <div>
                    {{item.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav>
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-container>
  </div>
</div>