<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="margin-top8" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="8px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                Registered Users</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div class="font-weight600 xxlarge-text">
                {{page.users.length}}
              </div>
              <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="b-bg border-radius50 dot-size">
                </div>
                <div class="b-color">
                  Registered Count</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="8px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                Approved Bookings</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div class="font-weight600 xxlarge-text">
                {{page.approved.length}}
              </div>
              <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="dot-size border-radius50 green-bg">
                </div>
                <div class="green-color">
                  Approved Count</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="8px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                Pedding Bookings</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div class="font-weight600 xxlarge-text">
                {{page.pedding.length}}
              </div>
              <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="dot-size border-radius50 orange-bg">
                </div>
                <div class="orange-color">
                  Pedding Count</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="8px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                Rejected Bookings</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div class="font-weight600 xxlarge-text">
                {{page.rejected.length}}
              </div>
              <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
                <div class="dot-size border-radius50 red-bg">
                </div>
                <div class="red-color">
                  Rejected Count</div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="49.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                This year shcedule</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxFlex="100">
                  <canvas baseChart [datasets]="page.chartDatasets" [chartType]="page.chartType" [labels]="page.chartLabels" [options]="page.chartOptions" [colors]="page.chartColors" chartType="bar" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="column wrap" fxFlex="49.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-card>
          <mat-card-content>
            <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div class="font-weight600">
                This year shcedule</div>
              <div fxLayout="row wrap" class="b-color" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon>filter_list</mat-icon>
                <div>
                  Filter</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxFlex="100">
                  <canvas baseChart (sliceClick)="pieSliceClickEvent($event)" [datasets]="page.pieChartData" [labels]="page.pieChartLabels" [options]="page.pieChartOptions" chartType="pie"></canvas>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>